<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ocms-pc</title>
  <link rel="stylesheet" href="//astyle-src.alicdn.com/fdevlib/css/lofty/port/lofty.css">
  <script type="text/javascript" src="//astyle-src.alicdn.com/fdevlib/js/gallery/jquery/jquery-latest.js"></script>
  <script type="text/javascript" src="//astyle-src.alicdn.com/fdevlib/js/lofty/port/lofty.js"></script>
</head>
<body>
<!-- 使用本原型请设置ocms.config.js的 useLocalPrototype 为 true -->

{{content}}
</body>
</html>